<h1><b> About Us </b></h1>


<hr/>


<heading><h2><b><u> What is our goal?</u> </b></h2></heading>
<p>We created this website for the convenience of our customers and we are committed towards your satisfaction, your satisfaction motivates us to burn our midnight oil to make your experience better.</p>
<heading><h2><b><u>Our Editors</u></b></h2></heading>
<p1>Vinayaka<br/>Guru Charan<br/>Chaithanya<br/>R Kavinilavu<br/>Gyanunjay<br/>Pooja Paduval </p1>