@{
    Layout = "_Layout1";
}
<div style="width:500px; margin-left:300px">
<form   method="post">
    
    <input type="text" name="uname" class="form-control" /> <br />
    <input type="password" name="pwd"  class="form-control" /><br />
    <input type="submit"   value="Login" class="btn btn-primary"/>
    </form>
    </div>
     <div style="background-color:yellowgreen;color:white;border:3px solid blue">
    @ViewData["v"]
</div>